.card {
    padding: 0;
}

.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
    width: auto;
    height: 200px;
   }

.scale img{
    height: 200px;
    transition: 1s; /* Время эффекта */
    display: block
}

.scale img:hover {
transform: scale(1.2);
z-index: 99;
}

.modal-wr {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: sepia(.5) blur(2px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-close {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-close:hover {
    border: 1px solid;
    border-color: blanchedalmond;
    border-radius: 20%;
    box-shadow: 2px 2px 2px 1px rgba(58, 58, 63, 0.2);
}

.modal-close::after {
    content: "\26CC";
}

/* .modal-catWr {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    display: flex;
} */

.custom-modal {
    padding: 2rem;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.hidden {
    display: none;
}

textarea {
    min-width: 300px;
}