.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 20px;
}
@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}
.card {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
h3 {
    margin: 0;
}
img {
    width: 200px;

}